<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <add key="PromotionTypes" value="{
    'PromotionTypes':
    {
        'Enabled':true,
        'Types':
               [{
                              'Name':'Type1',                   
                              'IsActive':true,
                              'Promotion':'AAA=130'
               },
               { 
                              'Name':'Type2', 
                              'IsActive':true,
                              'Promotion':'CD=30'
               },
               { 
                              'Name':'Type3', 
                              'IsActive':false,
                              'Promotion':'A=30%'
               }]
     },
     'NumberOfPromotionTypesCanApply':1
}"/>
    <add key="UnitPrices" value="{
         'Products':
     [{'Name':'A',                   
                              'Price':50},
     {'Name':'B',                   
                              'Price':30},
     {'Name':'C',                   
                              'Price':20},
     {'Name':'D',                   
                              'Price':15}]
}"/>
  </appSettings>
</configuration>